In [1]:
import numpy as np
import pandas as pd
m = np. random. randint (1,30, size = (10, 3))
df = pd. DataFrame (m, columns = ["Var1", "var2", "var3"])
df

   Var1  var2  var3
0     5     8     3
1    23    17    17
2    10     6    26
3     3    27     4
4    16     4     9
5    29    28    26
6     1     5    26
7    18    22    13
8    22    11     6
9    25    11     2

In [4]:
df["Var1"]

0     5
1    23
2    10
3     3
4    16
5    29
6     1
7    18
8    22
9    25
Name: Var1, dtype: int64

In [8]:
df[df.Var1 > 15]

   Var1  var2  var3
1    23    17    17
4    16     4     9
5    29    28    26
7    18    22    13
8    22    11     6
9    25    11     2

In [9]:
df[(df.Var1 > 15) & (df.var3 < 5)]

   Var1  var2  var3
9    25    11     2

In [11]:
df.loc[(df.Var1 > 15) & ["Var1","Var2"]]

ValueError: operands could not be broadcast together with shapes (10,) (2,)