In [1]:
import pandas as pd

In [2]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [6]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
pd.DataFrame(m,columns=["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [8]:
#naming ds

In [9]:
df = pd.DataFrame(m,columns=["var1","var2","var3"])
df.head(3)

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [12]:
df.columns = ("1","2","3")

In [13]:
df

   1  2  3
0  1  2  3
1  4  5  6
2  7  8  9

In [14]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.axes

[RangeIndex(start=0, stop=3, step=1), Index(['1', '2', '3'], dtype='object')]

In [17]:
df.ndim

2

In [18]:
df.shape

(3, 3)

In [19]:
df.size

9

In [20]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [21]:
type(df.values)

numpy.ndarray