In [4]:
import numpy as np
import pandas as pd

m = np.random.randint(1, 30, size=(5, 3))
df1 = pd.DataFrame(m, columns=["Var1", "var2", "var3"])
df1

   Var1  var2  var3
0     6    21    15
1    25    17    12
2    20    27     3
3    13    23    21
4    25    20     3

In [6]:
df2 = df1 + 99
df2

   Var1  var2  var3
0   105   120   114
1   124   116   111
2   119   126   102
3   112   122   120
4   124   119   102

In [7]:
pd.concat([df1,df2])

   Var1  var2  var3
0     6    21    15
1    25    17    12
2    20    27     3
3    13    23    21
4    25    20     3
0   105   120   114
1   124   116   111
2   119   126   102
3   112   122   120
4   124   119   102

In [8]:
df = pd.concat([df1,df2],ignore_index=True)

   Var1  var2  var3
0     6    21    15
1    25    17    12
2    20    27     3
3    13    23    21
4    25    20     3
5   105   120   114
6   124   116   111
7   119   126   102
8   112   122   120
9   124   119   102

In [10]:
df.columns

Index(['Var1', 'var2', 'var3'], dtype='object')

In [11]:
df2.colums

AttributeError: 'DataFrame' object has no attribute 'colums'

In [12]:
pd.concat([df1,df2],join="inner")

   Var1  var2  var3
0     6    21    15
1    25    17    12
2    20    27     3
3    13    23    21
4    25    20     3
0   105   120   114
1   124   116   111
2   119   126   102
3   112   122   120
4   124   119   102

In [14]:
pd.concat([df1,df2])

TypeError: concat() got an unexpected keyword argument 'join_axes'

Advance Join Operations

In [15]:
df1 = pd.DataFrame({"worker":["Ali","Veli","Gokhan","Rx7"],"group":["Accounting","Engineering","Engineering","Car"]})

df1

  calisanlar         grup
0        Ali     Muhasebe
1       Veli  Mühendislik
2     Gokhan  Mühendislik
3        Rx7     Arabalık

In [16]:
df2 = pd.DataFrame({"worker":["Ali","Veli","Gokhan","Rx7"],"first_join":[2010,2009,2014,1998]})

df2

   worker  first_join
0     Ali        2010
1    Veli        2009
2  Gokhan        2014
3     Rx7        1998

In [20]:
pd.merge(df1,df2,on="worker")

KeyError: 'worker'

In [21]:
#many to one

In [22]:
df3 = pd.merge(df1,df2)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [23]:
!pd.merge

zsh:1: command not found: pd.merge