In [3]:
import numpy as np
import pandas as pd
m = np. random. randint (1,30, size = (10, 3))
df = pd. DataFrame (m, columns = ["Var1", "var2", "var3"])
df

   Var1  var2  var3
0    13    12     1
1    13     2     4
2     6    22     4
3    27     9    26
4    12     7    20
5     9    14    29
6    26    11     2
7    15    22     8
8     2    16    23
9     1     3    15

In [4]:
#loc

In [5]:
df.loc[0:3]

   Var1  var2  var3
0    13    12     1
1    13     2     4
2     6    22     4
3    27     9    26

In [6]:
df.iloc[0:3]

   Var1  var2  var3
0    13    12     1
1    13     2     4
2     6    22     4