In [5]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"groups":["A","B","C","A","B","C"],"variable1":[10,20,30,40,50,60],"variable2":[100,200,300,400,500,600]},columns=["groups","variable1","variable2"])

df

  groups  variable1  variable2
0      A         10        100
1      B         20        200
2      C         30        300
3      A         40        400
4      B         50        500
5      C         60        600

In [3]:
df.groupby("groups").mean()

        variable1  variable2
groups
A            25.0      250.0
B            35.0      350.0
C            45.0      450.0

In [8]:
df.groupby("groups").aggregate(["min",np.median(),max])

TypeError: median() missing 1 required positional argument: 'a'