In [3]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"variable1":[10,22,35,49,51,66],"variable2":[100,200,310,460,587,6240]},columns=["variable1","variable2"])

df

   variable1  variable2
0         10        100
1         22        200
2         35        310
3         49        460
4         51        587
5         66       6240

In [4]:
df.apply(np.sum)

variable1     233
variable2    7897
dtype: int64

In [8]:
df.apply(lambda x:(x+x*90) * np.sum(x))

   variable1   variable2
0     212030    71862700
1     466466   143725400
2     742105   222774370
3    1038947   330568420
4    1081353   421834049
5    1399398  4484232480