In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"groups":["A","B","C","A","B","C"],"variable1":[10,20,30,40,50,60],"variable2":[100,200,300,400,500,600]},columns=["groups","variable1","variable2"])

df

  groups  variable1  variable2
0      A         10        100
1      B         20        200
2      C         30        300
3      A         40        400
4      B         50        500
5      C         60        600

In [2]:
def filter_func(x):
    return x["variable1"].std() > 9

In [4]:
df.groupby("groups").filter(filter_func)

  groups  variable1  variable2
0      A         10        100
1      B         20        200
2      C         30        300
3      A         40        400
4      B         50        500
5      C         60        600

In [5]:
df.groupby("groups").std()

        variable1   variable2
groups
A       21.213203  212.132034
B       21.213203  212.132034
C       21.213203  212.132034