In [2]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"groups":["A","B","C","A","B","C"],"variable1":[10,22,35,49,51,66],"variable2":[100,200,310,460,587,6240]},columns=["groups","variable1","variable2"])

df

  groups  variable1  variable2
0      A         10        100
1      B         22        200
2      C         35        310
3      A         49        460
4      B         51        587
5      C         66       6240

In [3]:
df["variable1"]*9

0     90
1    198
2    315
3    441
4    459
5    594
Name: variable1, dtype: int64

In [11]:
df_a = df.iloc[:,1:3]
df_a.transform(lambda x: (x-x.mean())/x.std())

   variable1  variable2
0  -1.400656  -0.502857
1  -0.817724  -0.461509
2  -0.186214  -0.416026
3   0.493873  -0.354005
4   0.591028  -0.301493
5   1.319693   2.035890