In [2]:
import pandas as pd

In [3]:
import numpy as np
s1 = np. random. randint (10, size = 5)
s2 = np. random. randint (10, size = 5)
s3 = np. random. randint (10, size = 5)

In [4]:
dictionary = {"var1":s1,"var2":s2,"var3":3}

In [5]:
dictionary

{'var1': array([6, 3, 5, 5, 9]), 'var2': array([7, 5, 9, 4, 2]), 'var3': 3}

In [6]:
df = pd.DataFrame(dictionary)

In [7]:
df

   var1  var2  var3
0     6     7     3
1     3     5     3
2     5     9     3
3     5     4     3
4     9     2     3

In [8]:
df[0:1]

   var1  var2  var3
0     6     7     3

In [9]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
df.index = ["a","b","c","d","e"]

In [12]:
df["c":"e"]

   var1  var2  var3
c     5     9     3
d     5     4     3
e     9     2     3

In [13]:
#delete

In [14]:
df.drop("a",axis=0)

   var1  var2  var3
b     3     5     3
c     5     9     3
d     5     4     3
e     9     2     3

In [15]:
df

   var1  var2  var3
a     6     7     3
b     3     5     3
c     5     9     3
d     5     4     3
e     9     2     3

In [16]:
df.drop("a",axis=0,inplace=True)

In [17]:
df

   var1  var2  var3
b     3     5     3
c     5     9     3
d     5     4     3
e     9     2     3

In [18]:
#fancy

In [19]:
l=["c","e"]

In [20]:
df.drop(l,axis=0)

   var1  var2  var3
b     3     5     3
d     5     4     3

In [21]:
#vareible

In [22]:
"var1" in df

True

In [24]:
l = ["var1","var4","var2"]
for i in l:
    print(i in df)

True
False
True

In [25]:
df["var4"] =  df["var1"] / df["var2"]

In [26]:
df

   var1  var2  var3      var4
b     3     5     3  0.600000
c     5     9     3  0.555556
d     5     4     3  1.250000
e     9     2     3  4.500000

In [27]:
#delete

In [28]:
df.drop("var4",axis=1)

   var1  var2  var3
b     3     5     3
c     5     9     3
d     5     4     3
e     9     2     3

In [29]:
df

   var1  var2  var3      var4
b     3     5     3  0.600000
c     5     9     3  0.555556
d     5     4     3  1.250000
e     9     2     3  4.500000

In [30]:
df.drop("var4",axis=1,inplace=True)

In [31]:
df

   var1  var2  var3
b     3     5     3
c     5     9     3
d     5     4     3
e     9     2     3

In [32]:
l = ["var1","var2"]

In [33]:
df.drop(l,axis=1)

   var3
b     3
c     3
d     3
e     3